<%- include('../partials/head', { title: 'Editar usuário'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>
  <section class="container formEditUser__container p-0">
    <section class="formRegisterPet__container col-md-8 col-sm-12">
      <h1 class="col-md-12 text-center">Editar perfil</h1>
      <form class="formRegisterPet__form" method="POST" action="editar?_method=PUT" enctype="multipart/form-data">
        <section class="form-row">
          <section class="form-group col-md-12">
            <label for="tipoPerfil">Tipo de perfil</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input  <%= errors.tipo ? 'is-invalid' : '' %>" type="radio" name="tipo"
                id="pessoa" value="PF" <%= usuario.tipo == "PF" ? "checked": "" %> required>
              <%- include('../components/feedback-invalid', { msg: errors['tipo'] }) %>
              <label class="form-check-label" for="pessoa">Pessoa Física</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input  <%= errors.tipo ? 'is-invalid' : '' %>" type="radio" name="tipo" id="ong"
                value="ONG" <%= usuario.tipo == "ONG" ? "checked": "" %> required>
              <%- include('../components/feedback-invalid', { msg: errors['tipo'] }) %>
              <label class="form-check-label" for="ong">ONG</label>
            </div>
          </section>

          <section class="form-group col-md-12">
            <label for="nome">Nome de exibição</label>
            <input type="text" class="form-control <%= errors.nome ? 'is-invalid' : '' %>" id="nome" name="nome"
              value="<%=usuario.nome%>" required />
            <%- include('../components/feedback-invalid', { msg: errors['nome'] }) %>
          </section>
          <section class="form-group col-md-12">
            <section class="row">
              <section class="col-md-3 form-img-review">
                <img src="<%= usuario.image ? usuario.image : '/images/default-photo.png' %>"
                  alt="Pre-visualização da foto do perfil" name="image" class="img-thumbnail preview-img">
              </section>
              <section class="col-md-9" style="display: flex; flex-direction: column; justify-content: center;">
                <section class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="fotoPerfil"
                    onchange="imgArquivo(event)">
                  <label class="custom-file-label" for="fotoPerfil">Selecionar foto</label>
                </section>
              </section>
            </section>
          </section>
          <section class="form-group col-md-12">
            <label for="email">E-mail</label>
            <input type="email" class="form-control <%= errors.email ? 'is-invalid' : '' %>" id="email"
              placeholder="E-mail" name="email" value="<%=usuario.email%>" required />
            <%- include('../components/feedback-invalid', { msg: errors['email'] }) %>
          </section>
          <section class="form-group col-md-12">
            <section class="row">
              <section class="col-md-12">
                <label for="senha">Trocar a senha</label>
              </section>
            </section>
            <section class="row">
              <section class="col-md-6">
                <label for="senha">Senha atual:</label>
                <input type="password" class="form-control <% if (errors.senha) {
                  'is-invalid' } %>" id="senha" placeholder="Digite a senha atual" name="senha"  /> 
                <%- include('../components/feedback-invalid', { msg: errors['senha'] }) %>
              </section>
              <section class="col-md-6">
                <label for="novaSenha">Nova senha:</label>
                <input type="password" class="form-control" id="novaSenha"
                placeholder="Digite a nova senha" name="novaSenha"  />
              </section>
            </section>
          </section>

          <section class="form-group col-md-4">
            <label for="CEP">CEP</label>
            <input type="numeric" name="cep" class="form-control <%= errors.cep ? 'is-invalid' : '' %>" id="CEP"
              value="<%= usuario.endereco ? usuario.endereco.cep : null%>" />
            <%- include('../components/feedback-invalid', { msg: errors['cep'] }) %>
          </section>
          <section class="form-group col-md-6">
            <label for="endereco">Endereço</label>
            <input type="text" name="logradouro" class="form-control <%= errors.logradouro ? 'is-invalid' : '' %>" id="logradouro"
              value="<%= usuario.endereco ? usuario.endereco.logradouro : null%>" />
              <%- include('../components/feedback-invalid', { msg: errors['logradouro'] }) %>
          </section>
          <section class="form-group col-md-2">
            <label for="endereco">Numero</label>
            <input type="text" name="numero" class="form-control <%= errors.numero ? 'is-invalid' : '' %>" id="numero"
              value="<%= usuario.endereco ? usuario.endereco.numero : null%>" />
              <%- include('../components/feedback-invalid', { msg: errors['numero'] }) %>
          </section>

          <section class="form-group col-md-5">
            <label for="bairro">Bairro</label>
            <input type="text" name="bairro" class="form-control <%= errors.bairro ? 'is-invalid' : '' %>" id="bairro"
              value="<%= usuario.endereco ? usuario.endereco.bairro : null%>" />
              <%- include('../components/feedback-invalid', { msg: errors['bairro'] }) %>
          </section>
          <section class="form-group col-md-5">
            <label for="cidade">Cidade</label>
            <input type="text" name="cidade" class="form-control <%= errors.cidade ? 'is-invalid' : '' %>" id="cidade"
              value="<%= usuario.endereco ? usuario.endereco.cidade : null%>" />
              <%- include('../components/feedback-invalid', { msg: errors['cidade'] }) %>
          </section>
          <section class="form-group col-md-2">
            <label for="estado">Estado</label>
            <input type="text" name="estado" class="form-control <%= errors.estado ? 'is-invalid' : '' %>" id="estado"
              value="<%= usuario.endereco ? usuario.endereco.estado : null%>" />
              <%- include('../components/feedback-invalid', { msg: errors['estado'] }) %>
          </section>
          <!-- <section class="form-group col-md-4">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="(xx) xxxxx-xxxx" name="telefone"
              value="<%=usuario.telefone%>" />
          </section> -->
          <section class="form-group col-md-6">
            <label class="sr-only" for="facebook-url">Facebook</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-facebook-f"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="facebook-url" placeholder="Facebook" name="facebook"
                value="<%=usuario.facebook%>" />
            </div>
          </section>
          <section class="form-group col-md-6">
            <label class="sr-only" for="instagram">Instagram</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="instagram" placeholder="Instagram" name="instagram"
                value="<%=usuario.instagram%>" />
            </div>
          </section>
          <section class="form-group col-md-6">
            <label class="sr-only" for="twitter">Twitter</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="twitter" placeholder="Twitter" name="twitter"
                value="<%=usuario.twitter%>" />
            </div>
          </section>
          <section class="form-group col-md-6">
            <label class="sr-only" for="whatsapp">Whatsapp</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-whatsapp"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="whatsapp" placeholder="Whatsapp" name="telefone"
                value="<%=usuario.telefone%>" />
            </div>
          </section>
          <section class="form-group col-md-12">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" class="form-control <%= errors.descricao ? 'is-invalid' : '' %>" cols="95%"
              rows="5" name="descricao" value="<%=usuario.descricao%>"><%=usuario.descricao%></textarea>
            <% console.log('descricao', usuario.descricao) %>
            <%- include('../components/feedback-invalid', { msg: errors['descricao'] }) %>
          </section>
          <section class="form-group col-sm-12 col-md-12" style="display: flex; justify-content: flex-end;">
            <button type="button" class="btn orange--offset mr-2">
              Cancelar
            </button>
            <button type="submit" class="btn orange">
              Salvar
            </button>
          </section>
        </section>
      </form>
    </section>
  </section>
  <div class="espaco-branco"></div>
</section>
<%- include('../partials/footer', { useSelect: false }) %>
<script src="javascripts/checkSenha.js"></script>