<%- include('../partials/head', { title: 'Editar Pet'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true}) %>
  <section class="container-fluid main-container">
    <!-- <section class="row formRegisterPet__rowContainer"> -->
    <section class="mt-2">
      <h1 class="col-md-12 text-center">Editar Pet</h1>
      <form class="col-md-12 " method="POST" action="user/editar?_method=PUT">
        <div class="form-row">
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="status" type="radio" id="petEncontrado"
              value='<%= pet.status == "ENCONTRADO" ? "checked": "" %>'>
            <label class="form-check-label" for="petEncontrado">Pet Encontrado</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="status" type="radio" id="petPerdido"
              value='<%= pet.status == "PERDIDO" ? "checked": "" %>' />
            <label class="form-check-label" for="petPerdido">Pet Perdido</label>

          </div>
        </div>
        <div class="form-row">
          <section class="form-group col-md-4 pl-0">
            <section class="form-group col-sm-6 col-md-12 pl-0 form-img-review">
              <img src="/images/default-photo.png" alt="Visualização de imagem" class="img-thumbnail">
            </section>
            <section class="form-group col-sm-12 col-md-12 pl-0">
              <section class="col-md-12 p-0">Porte:</section>
              <section class="form-row">
                <div class="form-check form-check-inline col-sm-3 col-md-12 ">
                  <input class="form-check-input" name="porte" type="radio" id="pequeno" value="pequeno"
                    <%= pet.porte == "PEQUENO" ? "checked": "" %>>
                  <label class="form-check-label" for="pequeno">Pequeno</label>
                </div>
                <div class="form-check form-check-inline col-sm-3 col-md-12">
                  <input class="form-check-input" name="porte" type="radio" id="medio" value="medio"
                    <%= pet.porte == "MEDIO" ? "checked": "" %>>
                  <label class="form-check-label" for="medio">Médio</label>
                </div>
                <div class="form-check form-check-inline col-sm-3 col-md-12">
                  <input class="form-check-input" name="porte" type="radio" id="grande" value="grande"
                    <%= pet.porte == "GRANDE" ? "checked": "" %>>
                  <label class="form-check-label" for="grande">Grande</label>
                </div>
                <div class="form-check form-check-inline col-sm-3 col-md-12">
                  <input class="form-check-input" name="porte" type="radio" id="desconhecido" value="desconhecido"
                    <%= pet.porte == "DESCONHECIDO" ? "checked": "" %>>
                  <label class="form-check-label" for="null">Desconhecido</label>
                </div>
              </section>
            </section>
          </section>
          <section class="form-group col-md-8">
            <section class="form-row">
              <label class="col-12" for="especie">
                Nome:
              </label>
              <input class="form-control
                    col-12" type="text" name="nome" id="" value="<%= pet.nome %>">
            </section>
            <section class="form-row">
              <section class="form-group col-sm-12 col-md-6">
                <label for="especie">Espécie</label>
                <select class="form-control" id="especie">
                  <!-- <option value="">Selecione uma especie</option> -->
                  <%console.log(pet.raca.fk_especie)%>
                  <option value="1" <% pet.raca.fk_especie == '1' ? 'selected' : '' %>>Gato</option>
                  <option value="2" <% pet.raca.fk_especie == '2' ? 'selected' : '' %>>Cachorro</option>
                </select>
              </section>
              <section class="form-group col-sm-12 col-md-6">
                <label for="raca">Raça</label>
                <select class="form-control" id="raca" name="raca" class="selectpicker" data-live-search="true"
                  required>
                  <option value="">Selecione uma raça</option>
                </select>
              </section>
              <section class="form-group col-sm-12 col-md-12">
                <label>Sexo</label>
                <section class="form-row">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="sexo" type="radio" id="radio-femea" value="femea"
                      <%= pet.sexo == "FEMEA" ? "checked": "" %>>
                    <label class="form-check-label" for="radio-femea">Fêmea</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" name="sexo" type="radio" id="radio-macho" value="macho"
                      <%= pet.sexo == "MACHO" ? "checked": "" %>>
                    <label class="form-check-label" for="radio-macho">Macho</label>
                  </div>
                  <div class="form-check form-check-inline">

                    <input class="form-check-input" name="sexo" type="radio" id="radio-desconhecido"
                      value="desconhecido" <%= pet.sexo == "DESCONHECIDO" ? "checked": "" %>>
                    <label class="form-check-label" for="radio-null">Desconhecido</label>
                  </div>

                </section>
              </section>
              <section class="form-group col-sm-12 col-md-12">
                <section class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Selecionar arquivo</label>
                </section>
              </section>
              <section class="form-group col-sm-12 col-md-12">
                <label for="descricao">Descrição</label>
                <textarea class="form-control" id="descricao" rows="3" cols="100"
                  name="descricao"><%= pet.descricao %></textarea>
              </section>
              <section class="form-group col-sm-12 col-md-12">
                <button type="button" class="btn btn-block orange" data-toggle="modal" data-target="#modal-endereco">
                  Adicionar o endereço manualmente
                </button>
              </section>
              <section class="form-row">
                <section class="form-group col-md-12">
                  <label for="endereco">Endereço</label>
                  <input type="text" name="rua" class="form-control" id="logradouro"
                    value="<%= pet.rua ? pet.rua : null%>" />
                </section>
              </section>

              <section class="form-row">
                <section class="form-group col-md-6">
                  <label for="CEP">CEP</label>
                  <input type="numeric" name="cep" class="form-control" id="CEP"
                    value="<%= pet.cep ? pet.cep : null%>" />
                </section>
                <section class="form-group col-md-6">
                  <label for="bairro">Bairro</label>
                  <input type="text" name="bairro" class="form-control" id="bairro"
                    value="<%= pet.bairro ? pet.bairro : null%>" />
                </section>
              </section>
              <section class="form-row">
                <section class="form-group col-md-6">
                  <label for="cidade">Cidade</label>
                  <input type="text" name="cidade" class="form-control" id="cidade"
                    value="<%= pet.cidade ? pet.cidade : null%>" />
                </section>
                <section class="form-group col-md-6">
                  <label for="estado">Estado</label>
                  <input type="text" name="estado" class="form-control" id="estado"
                    value="<%= pet.estado ? pet.estado : null%>" />
                </section>
              </section>
              <section class="form-group col-sm-12 col-md-12" style="display: flex; justify-content: flex-end;">
                <button type="button" class="btn orange--offset mr-2">
                  Cancelar
                </button>
                <button type="submit" class="btn orange">
                  Salvar Alterações
                </button>
              </section>

        </div>
      </form>
    </section>
    <!-- </section> -->
  </section>
  <div class="espaco-branco"></div>
</section>
<%- include('../partials/footer') %>

<!-- <section class="modal fade" id="modal-endereco" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="modal-dialog" role="document">
    <section class="modal-content">
      <section class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Endereço:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </section>
      <section class="modal-body">
        <form>
          <section class="form-row">
            <section class="form-group col-md-12">
              <label for="endereco">Endereço</label>
              <input type="email" class="form-control" id="endereco" />
            </section>
          </section>
          <section class="form-row">
            <section class="form-group col-md-6">
              <label for="CEP">CEP</label>
              <input type="numeric" class="form-control" id="CEP" />
            </section>
            <section class="form-group col-md-6">
              <label for="bairro">Bairro</label>
              <input type="email" class="form-control" id="bairro" />
            </section>
          </section>
          <section class="form-row">
            <section class="form-group col-md-6">
              <label for="cidade">Cidade</label>
              <input type="numeric" class="form-control" id="cidade" />
            </section>
            <section class="form-group col-md-6">
              <label for="estado">Estado</label>
              <input type="email" class="form-control" id="estado" />
            </section>
          </section>
        </form>
      </section>
      <section class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fechar
        </button>
        <button type="submit" class="btn orange">Salvar</button>
      </section>
    </section>
  </section>
</section> -->
</div>