<%- include('../partials/head', { title: 'Editar usuário'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>
  <section class="container formEditUser__container p-0">
    <section class="formRegisterPet__container col-md-8 col-sm-12">
      <h1 class="col-md-12 text-center">Editar perfil</h1>
      <form class="formRegisterPet__form" method="POST" action="editar?_method=PUT" enctype="multipart/form-data">
        <section class="form-row">
          <section class="form-group col-md-12">
            <label for="tipoPerfil">Tipo de perfil</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="pessoa" value="PF"
                <%= usuario.tipo == "PF" ? "checked": "" %> required>
              <label class="form-check-label" for="pessoa">Pessoa Física</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="ong" value="ONG"
                <%= usuario.tipo == "ONG" ? "checked": "" %> required>
              <label class="form-check-label" for="ong">ONG</label>
            </div>
          </section>

          <section class="form-group col-md-12">
            <label for="nome">Nome de exibição</label>
            <input type="text" class="form-control" id="nome" name="nome" value="<%=usuario.nome%>" required />
          </section>
          <section class="form-group col-md-12">
            <section class="row">
              <section class="col-md-3 form-img-review">
                <img src="<%= usuario.image ? usuario.image : '/images/default-photo.png' %>"
                  alt="Pre-visualização da foto do perfil" name="image" class="img-thumbnail preview-img">
              </section>
              <section class="col-md-9" style="display: flex; flex-direction: column; justify-content: center;">
                <section class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="fotoPerfil"
                    onchange="imgArquivo(event)">
                  <label class="custom-file-label" for="fotoPerfil">Selecionar foto</label>
                </section>
              </section>
            </section>
          </section>
          <section class="form-group col-md-12">
            <label for="tipoPerfil">Endereço</label><button type="button" class="btn btn-block orange"
              data-toggle="modal" data-target="#modal-endereco">
              Editar o endereço
            </button>
          </section>
          <section class="form-group col-md-12">
            <label for="email">E-mail</label>

            <input type="email" class="form-control" id="email" placeholder="E-mail" name="email"
              value="<%=usuario.email%>" />
          </section>
          <!-- <section class="form-group col-md-4">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" placeholder="(xx) xxxxx-xxxx" name="telefone"
              value="<%=usuario.telefone%>" />
          </section> -->
          <section class="form-group col-md-6">
            <label class="sr-only" for="facebook-url">Facebook</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-facebook-f"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="facebook-url" placeholder="Facebook" name="facebook"
                value="<%=usuario.facebook%>" />
            </div>
          </section>
          <section class="form-group col-md-6">
            <label class="sr-only" for="instagram">Instagram</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-instagram"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="instagram" placeholder="Instagram" name="instagram"
                value="<%=usuario.instagram%>" />
            </div>
          </section>
          <section class="form-group col-md-6">
            <label class="sr-only" for="twitter">Twitter</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-twitter"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="twitter" placeholder="Twitter" name="twitter"
                value="<%=usuario.twitter%>" />
            </div>
          </section>
          <section class="form-group col-md-6">
            <label class="sr-only" for="whatsapp">Whatsapp</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fab fa-whatsapp"></i>
                </div>
              </div>
              <input type="text" class="form-control" id="whatsapp" placeholder="Whatsapp" name="telefone"
                value="<%=usuario.telefone%>" />
            </div>
          </section>
          <section class="form-group col-md-12">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" class="form-control" cols="95%" rows="5"
              name="descricao"><%=usuario.descricao%></textarea>
          </section>
          <!-- <section class="form-group col-md-12">
            <label for="preferencia">Prefêrencia de contato</label>
            <select id="preferencia" class="form-control">
              <option value="facebook" selected>Facebook</option>
              <option value="twitter">Twitter</option>
              <option value="instagram">Instagram</option>
              <option value="whatsapp">Whatsapp</option>
            </select>
          </section> -->
          <section class="form-group col-sm-12 col-md-12" style="display: flex; justify-content: flex-end;">
            <button type="button" class="btn orange--offset mr-2">
              Cancelar
            </button>
            <button type="submit" class="btn orange">
              Salvar
            </button>
          </section>
        </section>
      </form>
    </section>
  </section>
  <div class="espaco-branco"></div>
</section>
<%- include('../partials/footer') %>
<section class="modal fade" id="modal-endereco" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="modal-dialog" role="document">
    <section class="modal-content">
      <section class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Endereço:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </section>
      <section class="modal-body">
        <form>
          <section class="form-row">
            <section class="form-group col-md-12">
              <label for="endereco">Endereço</label>
              <input type="email" class="form-control" id="endereco" />
            </section>
          </section>
          <section class="form-row">
            <section class="form-group col-md-6">
              <label for="CEP">CEP</label>
              <input type="numeric" class="form-control" id="CEP" />
            </section>
            <section class="form-group col-md-6">
              <label for="bairro">Bairro</label>
              <input type="email" class="form-control" id="bairro" />
            </section>
          </section>
          <section class="form-row">
            <section class="form-group col-md-6">
              <label for="cidade">Cidade</label>
              <input type="numeric" class="form-control" id="cidade" />
            </section>
            <section class="form-group col-md-6">
              <label for="estado">Estado</label>
              <input type="email" class="form-control" id="estado" />
            </section>
          </section>
        </form>
      </section>
      <section class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn orange">Salvar</button>
      </section>
    </section>
  </section>
</section>