<%- include('../partials/head', { title: 'Pets Perdidos & Encontrados'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>


  <section class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 main-container main-container__pets">
        <section class="filter__container">
          <div class="container">
            <div class="row filter-title-row">
              <span class="filter-title">
                <a href="#collapse-filtro" data-toggle="collapse">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i>
                  Filtros
                </a>

              </span>
            </div>
          </div>
          <div class="container collapse" id="collapse-filtro">
            <div class="row">
              <form method="GET" action="listar" class="col-md-12 d-flex flex-wrap">
                <div class="col-md-3 col-12 filter-column">
                  <h5>Distância</h5>
                  <div class="form-group">
                    <input type="range" min="0" max="10" step="1" list="tickmarks" class="form-control-range"
                      id="formControlRange">
                    <div class="slidecontainer">
                      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    </div>
                    <datalist id="tickmarks">
                      <option value="0" label="0km">
                      <option value="1" label="1km">
                      <option value="2" label="2km">
                      <option value="3" label="3km">
                      <option value="4" label="4km">
                      <option value="5" label="5km">
                      <option value="10" label="10km">
                      <option value="15" label="15km">
                      <option value="20" label="20km">
                      <option value="30" label="30km">
                      <option value="40" label="40km">
                      <option value="50" label="50km">
                      <option value="70" label="70km">
                      <option value="80" label="80km">
                      <option value="90" label="90km">
                      <option value="100" label="100km">
                    </datalist>
                  </div>
                </div>
                <div class="col-md-3 col-12 filter-column">
                  <h5>Espécie</h5>
                  <select class="form-control form-control-sm" name="especie" id="especie">
                    <option value="">Selecione uma especie</option>
                    <option value="1">Gato</option>
                    <option value="2">Cachorro</option>
                  </select>
                </div>
                <div class="col-md-3 col-12 filter-column">
                  <h5>Raça</h5>
                  <select class="form-control form-control-sm" id="raca" name="raca" class="selectpicker"
                    data-live-search="true">
                    <!-- <option value="">Selecione uma raça</option> -->
                  </select>
                </div>
                <div class="col-md-3 col-12">
                  <h5>Porte</h5>
                  <input type="radio" name="porte" id="PEQUENO"><label for="p">Pequeno</label><br>
                  <input type="radio" name="porte" id="MEDIO"><label for="m">Médio</label><br>
                  <input type="radio" name="porte" id="GRANDE"><label for="g">Grande</label><br>
                </div>
                <div class="row w-100">
                  <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary botao-medio-amarelo">Filtrar</button>

                  </div>
                </div>
              </form>
            </div>
          </div>

        </section>

        <!-- container do grid de pets -->
        <section class="grid-pets__container">
          <div class="row w-100 justify-content-center my-3">
            <h1>Pets Perdidos & Encontrados</h1>
          </div>
          <!-- Grid Dinâmico -->
          <% for (pet of pets) {%>
          <div class="card grid-pets-item" style="width: 18rem;">
            <a href="/pet/<%= pet.id %>">
              <img class="card-img-top" src="/images/cachorro.jpg" alt="Pet perdido/encontrado">
            </a>
            <div class="card-body">
              <div class="container-card-info">
                <a href="/pet/:id">
                  <p class="card-text">
                    <% if (pet.nome) { %>
                    <%= pet.nome %>
                    <% } else { %>
                    Sem nome
                    <% } %>
                  </p>
                </a>
                <% if(pet.status == "PERDIDO"){ %>
                <%- include('../components/badge-lost') %>
                <% } %>
                <% if(pet.status == "ENCONTRADO"){ %>
                <%- include('../components/badge-found') %>
                <% } %>
              </div>
            </div>
          </div>
          <% } %>

        </section>

        <!-- Paginação -->
        <section class="container my-3">
          <div class="row justify-content-center">
            <ul class="pagination">
              <% for (let nPagina = 1; nPagina <= totalPagina; nPagina++) { %>
              <li class="page-item"><a href="?page=<%= nPagina %>" class="page-link"><%= nPagina %></a></li>
              <% } %>
            </ul>
          </div>
        </section>
      </div>
  </section>
  <div class="espaco-branco"></div>
</section>


<%- include('../partials/footer') %>