<%- include('../partials/head', { title: 'Pets Perdidos & Encontrados'}) %>
<section class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>
  <% console.log('q',query) %>
  <% let url = ''; %>
  <% for(var value in query) { %>
  <%if(query[value]){%>
  <% url += `${value}=${query[value]}&`; %>
  <%}%>
<%}%>
  <% console.log('q',query) %>
  <section class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 main-container main-container__pets">
        <section class="filter__container">
          <div class="container">
            <div class="row filter-title-row">
              <span class="filter-title">
                <a href="#collapse-filtro" data-toggle="collapse">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i>
                  Filtros
                </a>

              </span>
            </div>
          </div>
          <div class="container collapse show" id="collapse-filtro">
            <div class="row">
              <form method="GET" action="" class="col-md-12 d-flex flex-wrap">
                <div class="col-md-3 col-12 filter-column">
                  <h5>Distância</h5>
                  <div class="form-group">
                    <div class="slidecontainer">
                      <input type="range" min="0" max="100" value="50" class="slider">
                    </div>
                    <datalist id="tickmarks">
                      <option value="0" label="0km">
                      <option value="1" label="1km">
                      <option value="2" label="2km">
                      <option value="3" label="3km">
                      <option value="4" label="4km">
                      <option value="5" label="5km">
                      <option value="10" label="10km">
                      <option value="15" label="15km">
                      <option value="20" label="20km">
                      <option value="30" label="30km">
                      <option value="40" label="40km">
                      <option value="50" label="50km">
                      <option value="70" label="70km">
                      <option value="80" label="80km">
                      <option value="90" label="90km">
                      <option value="100" label="100km">
                    </datalist>
                    <!-- Adiciona contador dinâmico -->
                    <span>Até </span><span id="distance-counter">50</span><span>km</span>
                  </div>
                </div>
                <div class="col-md-3 col-12 filter-column">
                  <h5>Espécie</h5>
                  <select class="form-control form-control-sm" name="especie" id="especie">
                    <option value="">Selecione uma especie</option>
                    <option value="1">Gato</option>
                    <option value="2">Cachorro</option>
                  </select>
                </div>
                <div class="col-md-3 col-12 filter-column">
                  <h5>Raça</h5>
                  <select class="form-control form-control-sm" id="raca" name="raca" class="selectpicker"
                    data-live-search="true">
                    <option value="">Selecione uma raça</option>
                  </select>
                </div>
                <div class="col-md-3 col-12">
                  <h5>Porte</h5>
                  <input type="checkbox" name="porte" value="PEQUENO" id="PEQUENO"
                    <%= query.porte && query.porte.includes('PEQUENO') ? 'checked' : ''%>><label for="PEQUENO">
                    &nbsp;Pequeno</label><br>
                  <input type="checkbox" name="porte" value="MEDIO" id="MEDIO"
                    <%= query.porte && query.porte.includes('MEDIO') ? 'checked' : ''%>><label for="MEDIO">
                    &nbsp;Médio</label><br>
                  <input type="checkbox" name="porte" value="GRANDE" id="GRANDE"
                    <%= query.porte && query.porte.includes('GRANDE') ? 'checked' : ''%>><label for="GRANDE">
                    &nbsp;Grande</label><br>
                  <!-- <input type="radio" name="porte" value="" id="todos" selected><label for="todos"> Todos</label><br> -->
                </div>
                <div class="col-md-3 col-12">
                  <h5>Sexo</h5>
                  <input type="checkbox" name="sexo" value="FEMEA" id="FEMEA"
                    <%= query.sexo && query.sexo.includes('MACHO') ? 'checked' : ''%>><label for="FEMEA">
                    &nbsp;Fêmea</label><br>
                  <input type="checkbox" name="sexo" value="MACHO" id="MACHO"
                    <%= query.sexo && query.sexo.includes('FEMEA') ? 'checked' : ''%>><label for="MACHO">
                    &nbsp;Macho</label><br>
                  <input type="checkbox" name="sexo" value="DESCONHECIDO" id="DESCONHECIDO"
                    <%= query.sexo && query.sexo.includes('DESCONHECIDO') ? 'checked' : ''%>><label for="DESCONHECIDO">
                    &nbsp;Desconhecido</label><br>
                  <!-- <input type="radio" name="porte" value="" id="todos" selected><label for="todos"> Todos</label><br> -->
                </div>
                <div class="col-md-3 col-12">
                  <h5>Status</h5>
                  <input type="checkbox" name="status" value="PERDIDO" id="PERDIDO"
                    <%= query.status && query.status.includes('PERDIDO') ? 'checked' : ''%>>
                  <label for="PERDIDO">
                    &nbsp;Perdido</label><br>
                  <input type="checkbox" name="status" value="ENCONTRADO" id="ENCONTRADO"
                    <%= query.status && query.status.includes('ENCONTRADO') ? 'checked' : ''%>><label for="ENCONTRADO">
                    &nbsp;Encontrado</label><br>
                </div>
                <div class="col-md-3 col-12">
                  <h5>Tipo de perfil</h5>
                  <input type="checkbox" name="tipo" value="ONG" id="ONG"
                    <%= query.tipo && query.tipo.includes('ONG') ? 'checked' : ''%>><label for="ONG">&nbsp;
                    ONG</label><br>
                  <input type="checkbox" name="tipo" value="PF" id="PF"
                    <%= query.tipo && query.tipo.includes('PF') ? 'checked' : ''%>><label for="PF">&nbsp;Pessoa
                    física</label><br>
                </div>
                <div class="row w-100">
                  <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary botao-medio-amarelo">Filtrar</button>

                  </div>
                </div>
              </form>
            </div>
          </div>

        </section>

        <!-- container do grid de pets -->
        <section class="grid-pets__container">
          <div class="row w-100 justify-content-center my-3">
            <h1>Pets Perdidos & Encontrados</h1>
          </div>
          <%console.log(pets.length) %>
          <!-- Grid Dinâmico -->

          <% if(pets.length > 0){ %>
          <% for (pet of pets) {%>
          <%- include('../components/card-grid-pets', { pet }) %>
          <% } %>
          <% } else { %>
          <img src="/images/404-transparent.png" class="not-found-img-grid" alt="Nenhum pet foi encontrado" />
          <%}%>

        </section>

        <!-- Paginação -->
        <section class="container my-3">
          <div class="row justify-content-center">
            <ul class="pagination">
              <% for (let nPagina = 1; nPagina <= totalPagina; nPagina++) { %>
          <li class="page-item"><a href="?page=<%= nPagina %>&<%=url%>" class="page-link"><%= nPagina %></a></li>
          <% } %>
          </ul>
      </div>
  </section>
  </div>
</section>
<div class="espaco-branco"></div>
</section>


<%- include('../partials/footer') %>