<%- include('../partials/head', { title: "Perfil Pet" }) %>

<div class="d-flex" id="wrapper">
  <%- include('../partials/sidebar', { sidebarIsVisible: true }) %>

  <div class="container col-12 mt-5 mb-5" id="containerbody">
    <div class="col-12">
      <br>
      <div class="col-12">
        <div class="row mt-1 ml-2">
          <h1 class=""><%= pet.nome ? pet.nome : ''  %></h1>
          <!-- botão para pet encontrado -->

          <div class="col-8" style="text-align: left;">
            <% if(pet.status == "ENCONTRADO"){ %>
            <%- include('../components/badge-found') %>
            <% } %>
            <% if(pet.status == "PERDIDO"){ %>
            <%- include('../components/badge-lost') %>
            <% } %>
            <% if(pet.status == "ADOCAO"){ %>
            <%- include('../components/badge-adoption') %>
            <% } %>
          </div>

          <div class="col pt-2 pl-3 text-nowrap" style="text-align: right;">
            <a class="pr-1 pl-1">
              <i style="font-size: 13px" class="mt-1 fas fa-map-marker-alt"></i>
              <span data-span="info-km"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="container col-12" id="containerimgs">
        <div class="row p-2 d-flex justify-content-center">
          <img src="<%= pet.fotoPrincipal? pet.fotoPrincipal.caminho : '/images/404.png'%>" class=" col-9 p-0 pr-1"
            alt="Foto do Pet" id="fotomaior">

          <div class="col-3 p-0 float-right " id="thumbspets">
            <% for(var i=0;i<3;i++){%>

            <% if(pet.fotos[i]) { %>
            <% if(pet.fotos[i].caminho !== pet.fotoPrincipal.caminho){ %>

            <img src="<%= pet.fotos[i].caminho? pet.fotos[i].caminho : '/images/404.png'%>" alt="thumbpet"
              class="img-fluid mb-1 p-0 thumbpet col-12">
            <%} else {%>
            <img src='/images/404.png' alt="thumbpet" class="img-fluid mb-1 p-0 thumbpet col-12">
            <% } %>
            <%} else {%>
            <img src='/images/404.png' alt="thumbpet" class="img-fluid mb-1 p-0 thumbpet col-12">
            <% } %>
            <%}%>
       
          </div>
        </div>
        <%- include('../components/pet-status-line') %>
          </div>
          <div class="texto  pt-1 pb-3 ml-2">

            <br>
            <a class="font-weight-bold ml-2">Descrição:</a> <a class=""><%= pet.descricao ? pet.descricao : '' %></a>
            <br>
            <ul class="list-unstyled ml-2">

              <li><a class="font-weight-bold">Espécie:</a> <a class="link">
                  <%= pet.raca.fk_especie =='1' ? 'Gato' : pet.raca.fk_especie =='2' ? 'Cachorro' : '' %></a></li>
              <li><a class="font-weight-bold">Raça:</a> <a class="link"> <%= pet.raca.nome ? pet.raca.nome : '' %></a>
              </li>
              <li><a class="font-weight-bold">Sexo:</a> <a class="link"> <%= pet.sexo ? pet.sexo : '' %></a></li>
              <li><a class="font-weight-bold">Porte:</a> <a class="link"> <%= pet.porte ? pet.porte : '' %></a></li>

            </ul>
            <div class="text-center">
              <a class="btn btn-primary btn-lg mb-3" href="/user/<%= pet.fk_usuario %>" role="button"
                id="botaocontato">Entrar
                em contato</a>
            </div>
          </div>
        </div>
      </div>
      <% console.log(locals.user.endereco) %>
      <%- include('../partials/footer', { useSelect: false }) %>
      <script>
        const span = document.querySelector('[data-span="info-km"]');
        const petLatitude = Number(
          "<%= pet.usuario.endereco?  pet.usuario.endereco.latitude : '' %>"
        );
        const petLongitude = Number(
          "<%= pet.usuario.endereco?  pet.usuario.endereco.longitude : '' %>"
        );
        let distancia = "";
        window.onload = function () {
          navigator.geolocation.getCurrentPosition(success, error, {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0,
          });
        };

        async function success(pos) {
          console.log("pegou");
          var { latitude, longitude, accuracy, altitudeAccuracy } = pos.coords;
          coords = { latitude, longitude };
          distancia = distance(
            petLatitude,
            petLongitude,
            coords.latitude,
            coords.longitude
          );

          span.innerText = `${Math.round(distancia) ? Math.round(distancia) + ' km de você' : ''}`;
        }

        function error(err) {
          console.log("error");
          console.log("<%=  user %>");
          coords = {
            latitude: Number(
              '<%=  locals.user ?  locals.user.endereco.latitude : "" %>'
            ),
            longitude: Number(
              '<%= locals.user ? locals.user.endereco.longitude : "" %>'
            ),
          };
          distancia = distance(
            petLatitude,
            petLongitude,
            coords.latitude,
            coords.longitude
          );
          span.innerText = `${Math.round(distancia) ? Math.round(distancia) + 'km de você' : ''}`;
        }
      </script>
      <script src="/javascripts/setLocation.js"></script>