<%- include('../partials/head', { title: 'Gerenciamento de Pets' }) %> 
<section class="d-flex" id="wrapper">

    <%- include('../partials/sidebar', { sidebarIsVisible: true}) %>
    
    <div class="pets-manager p-4">
        <h1 class="">Gerenciamento de Pets</h1>
        <div class="form-select d-flex align-items-center
                    justify-content-end col-12 mb-5">
            <label class="" for="nome">Tipo:</label>
            <select class="form-control select-tipo ml-3" id="exampleFormControlSelect1">
                <option>Todos</option>
                <option>Gato</option>
                <option>Cachorro</option>
                <option>Papagaio</option>
                <option>Passarinho</option>
                <option>Peixe</option>
            </select>
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            <%- include('../components/card-pet-manager', 
            { 
                nome: 'Aquiles',
                situation: 'P',
                image: '/images/modelos-marco/zeus.jpg'
            }) %>

            <%- include('../components/card-pet-manager', 
            { 
                nome: 'Simba',
                situation: 'E',
                image: '/images/modelos-marco/aquiles.jpeg' 
            }) %>
            <%- include('../components/card-pet-manager', 
            { 
                nome: 'Muller',
                situation: 'E',
                image: '/images/modelos-marco/muller.jpg'
            }) %>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>