<%- include('../partials/head', { title: 'Gerenciamento de Pets' }) %>
<section class="d-flex" id="wrapper">

  <%- include('../partials/sidebar', { sidebarIsVisible: true}) %>

  <section class="container">
    <div class="row justify-content-md-center">
      <div class="main-container col-md-10 mb-5">
        <div class="row justify-content-center my-3">
          <h1>Gerenciamento de Pets</h1>
        </div>
        <div class="form-select d-flex align-items-center justify-content-end col-12 mb-5">
          <form action="gerenciamento" method="GET" style="display: contents;">
            <label class="" for="nome">Status:</label>
            <select class="form-control select-tipo ml-3" name="status" onchange="this.form.submit()">
              <option value="">Todos</option>
              <option value="ADOCAO" <%= status == 'ADOCAO' ? 'selected' : '' %>>Adoção</option>
              <option value="PERDIDO" <%= status == 'PERDIDO' ? 'selected' : '' %>>Perdido</option>
              <option value="ENCONTRADO" <%= status == 'ENCONTRADO' ? 'selected' : '' %>>Encontrado</option>
              <!--<option>Passarinho</option>
              <option>Peixe</option> -->
            </select>
          </form>
        </div>
        <div class="row mb-4 petGrid">
          <% if (pets.length > 0) { %>
          <% for(const pet of pets) { %>
          <%- include("../components/card-pet-manager", { pet } )%>
          <% } %>
          <% } else { %>

          <img src="/images/404pet.png" class="not-found-pet-manager" alt="Nenhum pet foi encontrado" />
          <% } %>

          <section class="container my-3">
            <div class="row justify-content-center">
              <ul class="pagination">
                <% for (let nPagina = 1; nPagina <= totalPagina; nPagina++) { %>
                <li class="page-item"><a href="?page=<%= nPagina %>?status=<%=status%>"
                    class="page-link"><%= nPagina %></a></li>
                <% } %>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
    </div>
  </section>
</section>
<%- include('../partials/footer') %>