<div class="bg-light border-right sidebar
  <%= !locals.user ? 'd-none' : '' %>" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a href="/"><img src="/images/logo-pet-aqui.png" class="logo-pets" id="sidebar"></a>
  </div>
  <!-- Links da sidebar (menu lateral) -->
  <div class="list-group
    list-group-flush">
    <a href="/" class="list-group-item
      list-group-item-action">
      <i class="fas fa-home"></i>
      Início
    </a>

    <!-- Encontrar -->

    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item
    list-group-item-action">
      <i class="fas fa-search-location"></i>
      Encontrar Pet</a>
    <ul class="collapse list-unstyled" id="pageSubmenu">
      <li>
        <a href="/pet/adocao" class="font-weight-lighter list-group-item
          list-group-item-action subitem">
          Adoção
        </a>

        <a href="/pet/" class="font-weight-lighter list-group-item 
        list-group-item-action subitem">
          Perdidos/Encontrados
        </a>
      </li>
    </ul>

    <!-- Cadastro -->
    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item
    list-group-item-action">
      <i class="fas fa-edit"></i>
      Cadastrar Pet</a>
    <ul class="collapse list-unstyled" id="pageSubmenu1">
      <li>
        <a href="/pet/adocao/cadastrar" class="font-weight-lighter list-group-item
          list-group-item-action subitem">
          Adoção

          <a href="/pet/cadastrar" class="font-weight-lighter list-group-item
          list-group-item-action subitem">
            Perdido/Encontrado

          </a>
      </li>

    </ul>


    <!-- Link para página de gerenciamento de pets -->
    <a href="/user/gerenciamento" class="list-group-item
      list-group-item-action">
      <i class="fas fa-paw"></i>
      Gerenciar Pets
    </a>
    <!-- Link para página de editar perfil do usuário -->
    <a href="/user/editar" class="list-group-item
      list-group-item-action">
      <i class="fas fa-user-edit"></i> Editar perfil
    </a>
    <!-- Link para página de termos de uso -->
    <!-- <a href="/termos-de-uso" class="list-group-item
      list-group-item-action">
      <i class="fas fa-list-alt"></i>
      Termos de uso
    </a> -->

  </div>
</div>
<div id="page-content-wrapper">
  <!-- Header -->
  <nav class="navbar header-nav
  navbar-expand-lg
  navbar-light
  bg-light
  border-bottom
  sibedar-navbar">
    <!-- <a class="navbar-brand <%= sidebarIsVisible ? 'd-none' : '' %>"" href="#">PetAqui</a> -->
    <button class="btn
    <%= !locals.user ? 'd-none' : '' %>" id="menu-toggle">
      <i class="fas fa-bars"></i>
    </button>
    <button class="navbar-toggler
    <%= !locals.user ? '' : '' %>" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="#sidebarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if(!locals.user) { %>
    <a href="/" class="navbar-brand
      sup-menu__logo mx-auto" >
      <img src="/images/logo-pet-aqui.png">
    </a>
    <% } %>
    <!-- <section class="sup-menu">
      
    </section> -->
    <!-- Div com lista de links no header -->
    <div class="collapse
    navbar-collapse" id="navbarSupportedContent">
      <!-- Lista só é mostrada se estiver deslogado -->
      <ul class="navbar-nav
      ml-auto
      mt-2 mt-lg-0 
      ">

        <% if(locals.user) { %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Olá, <%= locals.user.nome %>
            <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu
            dropdown-menu-right" aria-labelledby="navbarDropdown">
            <form action="/logout" method="GET">
              <button type="submit" class="dropdown-item">
                Sair
              </button>
            </form>
          </div>
        </li>
        <% } else { %>
        <!-- Lista de links no header para página sobre) -->
        <li class="nav-item active">
          <a class="nav-link" href="/sobre">
            Sobre
          </a>
        </li>
        <li>

          <a class="nav-link" href="/pet/adocao">
            Pets p/ adoção
          </a>
        </li>
        <li>

          <a class="nav-link" href="/pet">
            Pets perdidos/Encontrados
          </a>
        </li>
        </li>
        <!-- Dropdown para entrar (login e cadastro) -->
        <li class="nav-item
          dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Entrar
            <i class="fas fa-caret-down"></i>
          </a>
          <div class="dropdown-menu
            dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">
              Login
            </a>
            <a class="dropdown-item" href="/cadastrar">
              Criar conta
            </a>
          </div>
        </li>
        <% } %>

        <!-- Fim do dropdown entrar-->
      </ul>
    </div>
  </nav>
  <!-- Comportamento estranho: Div iniciada não pode ser fechada -->
  <script type="text/javascript">
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <!-- Comportamento estranho -->