<section class="card container border mb-1">
  <section class="row justify-content-end mt-3">
    <div class="col-md-12 pl-4 pr-4 d-flex justify-content-between">
      <a class="link-card-feed" href=/pet/<%= pet.id %>><span class="bg-transparent"><%= pet.nome ? pet.nome : "Sem nome" %></span></a>
      <% if(pet.status == "PERDIDO"){ %> 
      <%- include('../components/badge-lost') %> 
      <% } %> 
      <% if(pet.status == "ENCONTRADO"){ %> 
      <%- include('../components/badge-found') %> 
      <% } %> 
      <% if(pet.status == "ADOCAO"){ %> 
      <%- include('../components/badge-adoption') %> 
      <% } %>
    </div>
  </section>
  <section class="row">
    <div class="card-body col-md-12 pt-2 pb-2">
      <a class="link-card-feed" href=/pet/<%= pet.id %>><img class="card-img-top" src="/images/buldog.png" alt="Card image cap" /></a
    </div>
  </section>
  <section class="row">
    <div class="col-md-12 pl-4 pr-4 mb-3 d-flex justify-content-between">
     <span class="bg-transparent"><%= pet.nome ? pet.nome : "Sem nome" %></span>
      <!-- Colocar aqui a distância ao invés do nome -->
      <span class="bg-transparent">
      <% var monthNames = [
      "Janeiro", "Fevereiro", "Março", "Abril", "Maio","Junho", "Julho",
       "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]; 

        var dataCadastro = pet.createdAt; 
        var d =dataCadastro.getDate(); 
        var m = monthNames[dataCadastro.getMonth()]; 
        var y = dataCadastro.getFullYear(); 
        var h = dataCadastro.getHours(); 
        var min = dataCadastro.getMinutes(); 

        if(min<=9){ min='0'+min } %> 
        
      <%= d+ ' ' +m+ ' ' +y+ ' ' +h+ ':'+min %>
      </span>
    </div>
  </section>
</section>