<div class="col-md-4 col-sm-12 card-manager">
  <div class="card">
    <a href="/pet/<%=pet.id %>">
      <img class="card-img-top" src="<%= pet.fotoPrincipal? pet.fotoPrincipal.caminho : '/images/404.png'%>"
        alt="Pet perdido/encontrado">
    </a>
    <div class="card-body pb-0">
      <div class="container-card-info" style="flex-wrap: wrap;">

        <a href="/pet/<%=pet.id %>" style="width: 100%;">
          <section class="pet-card-M-line">
            <p class="card-text"><%= pet.nome ? pet.nome : "Sem nome" %></p>
            <% if(pet.status == "PERDIDO"){ %>
            <%- include('../components/badge-lost') %>
            <% } %>
            <% if(pet.status == "ENCONTRADO"){ %>
            <%- include('../components/badge-found') %>
            <% } %>
            <% if(pet.status == "ADOCAO"){ %>
            <%- include('../components/badge-adoption') %>
            <% } %>
          </section>
        </a>
        <section class="pet-card-M-line btns">
          <!-- <% if(pet.status == "ADOCAO"){ %> -->
          <a class="btn btn-warning orange <%= pet.status !== 'ADOCAO' ? 'd-none' : '' %>"
            href="/pet/adocao/<%=pet.id%>/editar">
            Editar
          </a>
          <!-- <% } else { %> -->
          <a class="btn btn-warning orange <%= pet.status === 'ADOCAO' ? 'd-none' : ''  %>"
            href="/pet/<%=pet.id%>/editar">
            Editar
          </a>
          <!-- <% } %> -->
          <button type="button" class="btn btn-outline-warning" data-toggle="modal"
            data-target="#modal-<%=pet.id%>">Excluir</button>
        </section>
      </div>
    </div>
  </div>
</div>

<div id="modal-<%=pet.id%>" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir Pet</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Você tem certeza que deseja excluir <%=pet.nome%>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Sair</button>
        <form method="POST" action="/pet/delete?_method=DELETE">
          <input hidden name="id" value="<%=pet.id%>" />
          <button type="submit" class="btn btn-warning">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>