<section class="card container border mb-1">
  <section class="row justify-content-end mt-3">
    <div class="col-md-12 pl-4 pr-4 d-flex justify-content-between">
      <a class="link-card-feed" href=/pet/<%= pet.id %>><span class="bg-transparent"><%= pet.nome ? pet.nome : "Sem nome" %></span></a>
      <% if(pet.status == "PERDIDO"){ %> 
      <%- include('../components/badge-lost') %> 
      <% } %> 
      <% if(pet.status == "ENCONTRADO"){ %> 
      <%- include('../components/badge-found') %> 
      <% } %> 
      <% if(pet.status == "ADOCAO"){ %> 
      <%- include('../components/badge-adoption') %> 
      <% } %>
    </div>
  </section>
  <section class="row">
    <div class="card-body col-md-12 pt-2 pb-2">
      <a class="link-card-feed" href=/pet/<%= pet.id %>><img class="card-img-top" src="/images/buldog.png" alt="Card image cap" /></a
    </div>
  </section>
  <section class="row">
    <div class="col-md-12 pl-4 pr-4 mb-3 d-flex justify-content-between">
     <span class="bg-transparent"><%= pet.nome ? pet.nome : "Sem nome" %></span>
      <!-- Colocar aqui a distância ao invés do nome -->
      <span class="bg-transparent">
       
     
        <% moment.locale('pt-br')
        let petData = moment(pet.createdAt).fromNow();
         %>

        <!-- sex, 29 de mai de 2020 às 21:11
           let petData = moment(pet.createdAt).format('llll');

           29 de maio de 2020 às 17:32
            let petData = moment(pet.createdAt).format('LLL');

            29/5/2020 17:32:59
            let petData = moment(pet.createdAt).format('L LTS');

            29/05/2020 11:04
            let petData = moment(pet.createdAt).format('L LT'); 

            Última quarta-feira às 20:52
            let petData = moment(pet.createdAt).subtract(1, 'days').calendar(); 

            há 2 dias
            let petData = moment(pet.createdAt).fromNow();
           -->
   
        
      <%= `Cadastrado ${petData}`  %>
      </span>
    </div>
  </section>
</section>

