<section class="card container border mb-1">
  <section class="row justify-content-end mt-3">
    <div class="col-md-12 pl-4 pr-4 d-flex justify-content-between">
      <a class="link-card-feed" href=/pet/<%= pet.id %>><span
          class="bg-transparent"><%= pet.nome ? pet.nome : "Sem nome" %></span></a>
      <% if(pet.status == "PERDIDO"){ %>
      <%- include('../components/badge-lost') %>
      <% } %>
      <% if(pet.status == "ENCONTRADO"){ %>
      <%- include('../components/badge-found') %>
      <% } %>
      <% if(pet.status == "ADOCAO"){ %>
      <%- include('../components/badge-adoption') %>
      <% } %>
    </div>
  </section>
  <section class="row">
    <div class="card-body col-md-12 pt-2 pb-2">
      <a href="/pet/<%=pet.id %>">
        <img class="card-img-top" src="<%= pet.fotoPrincipal? pet.fotoPrincipal.caminho : '/images/404.png'%>"
          alt="Pet perdido/encontrado" height="280">
      </a>
      <!-- <a class="link-card-feed" href=/pet/<%= pet.id %>><img class="card-img-top" src="/images/buldog.png" alt="Card image cap" /></a -->
    </div>
  </section>
  <section class="row">
    <div class="col-md-12 pl-4 pr-4 mb-3 d-flex justify-content-between">
      <span class="bg-transparent"><%= pet.nome ? pet.nome : "Sem nome" %></span>
      <!-- Colocar aqui a distância ao invés do nome -->
      <span class="bg-transparent">


        <% moment.locale('pt-br')
        let petData = moment(pet.createdAt).fromNow();
         %>


        <%= `Cadastrado ${petData}`  %>
      </span>
    </div>
  </section>
</section>