<div class="col-md-4 col-sm-12">
  <div class="card">
    <a href="/pet/<%=pet.id %>">
      <img class="card-img-top" src="<%= pet.fotoPrincipal? pet.fotoPrincipal.caminho : '/images/buldog.png'%>"
        alt="Pet perdido/encontrado">
    </a>
    <div class="card-body">
      <div class="container-card-info" style="flex-wrap: wrap;">

        <a href="/pet/<%=pet.id %>" style="width: 100%;">
          <section class="pet-card-M-line">
            <p class="card-text"><%= pet.nome ? pet.nome : "Sem nome" %></p>
            <% if(pet.status == "PERDIDO"){ %>
            <%- include('../components/badge-lost') %>
            <% } %>
            <% if(pet.status == "ENCONTRADO"){ %>
            <%- include('../components/badge-found') %>
            <% } %>
            <% if(pet.status == "ADOCAO"){ %>
            <%- include('../components/badge-adoption') %>
            <% } %>
          </section>
        </a>
        <section class="pet-card-M-line btns">
          <!-- <% if(pet.status == "ADOCAO"){ %> -->
          <a class="btn btn-warning orange <%= pet.status !== 'ADOCAO' ? 'd-none' : '' %>"
            href="/pet/adocao/<%=pet.id%>/editar">
            Editar
          </a>
          <!-- <% } else { %> -->
          <a class="btn btn-warning orange <%= pet.status === 'ADOCAO' ? 'd-none' : ''  %>"
            href="/pet/<%=pet.id%>/editar">
            Editar
          </a>
          <!-- <% } %> -->
          <form method="POST" action="/pet/delete?_method=DELETE">
            <input hidden name="id" value="<%=pet.id%>" />
            <button type="submit" class="btn btn-outline-warning">Excluir</button>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>