<div class="row " >
    <div class="col-12 d-flex column justify-content-around">
        <div class="card text-center <%= pet.porte !== 'PEQUENO' && pet.porte !== 'MEDIO' && pet.porte !== 'GRANDE' ? 'desativado' : 'tamanho' %>" id="tamanho"  data-toggle="tooltip" data-placement="bottom" title="Tamanho <%= pet.porte == 'PEQUENO' ? 'pequeno' : pet.porte == 'MEDIO' ? 'médio' : pet.porte == 'GRANDE' ? 'grande' : 'desconhecido' %>">
            <div class="card-body py-3">
                <i class="fa fa-weight-hanging"></i>
                              <!--  if(pet.porte == 'nao sei'){ - adiciona classe desativado } -->
            </div>
        </div>


        <div class="card text-center  <%= pet.vacinado == '1' ? 'vacinado' : 'desativado' %>" id=" vacinado" data-toggle="tooltip" data-placement="bottom" title=" <%= pet.vacinado == '1' ? 'Vacinado' : 'Não vacinado' %> ">
            <div class="card-body py-3">
                <i class="fa fa-syringe" ></i>
                 <!--  if(pet.vacinado == false){ - adiciona classe desativado } -->
            </div>
        </div>


        <div class="card text-center <%= pet.vermifugado == '1' ? 'vermifugado' : 'desativado' %>" id="vermifugado"  data-toggle="tooltip" data-placement="bottom" title=" <%= pet.vacinado == '1' ? 'Vermifugado' : 'Não vermifugado' %>">
            <div class="card-body py-3">
                <i class="fas fa-pills "></i>
             <!--  if(pet.vermifugado == false){ - adiciona classe desativado } -->
            </div>
        </div>


        <div class="card text-center <%= pet.castrado == '1' ? 'castrado' : 'desativado' %>" id="castrado"  data-toggle="tooltip" data-placement="bottom" title=" <%= pet.vacinado == '1' ? 'Castrado' : 'Não castrado' %>">
            <div class="card-body py-3">
                <i class="fa fa-clipboard-list"></i>
                <!--  if(pet.castrado == false){ - adiciona classe desativado } -->
            </div>
        </div>

    </div>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
        </script>