<%- include('partials/head', { title: 'Home'}) %>
<section class="d-flex" id="wrapper">
  <%- include('partials/sidebar', { sidebarIsVisible: false }) %>
  <section class="container-fluid home-main-content__container" style="margin-top: -40px;">
    <!-- CARROSSEL -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner main-carrosel">
        <div class="carousel-item active">
          <img src="/images/banner-cachorro-v1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Adote um pet</h5>
            <p>Seu amiguinho espera por você!</p>
            <%- include('components/banner-content.ejs') %>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/banner-cachorro-v1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Seu pet está perdido?</h5>
            <p>Podemos ajudar!</p>
            <%- include('components/banner-content.ejs') %>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/banner-cachorro-v1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>Avistou um pet perdido?</h5>
            <p>Encontre seu dono</p>
            <%- include('components/banner-content.ejs') %>
          </div>
        </div>
    
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <!-- Grid Dinâmico -->
    <!-- Pets Perdidos e Encontrados -->
    <h2 class="display-4 text-center my-4">Últimos Pets Perdidos e Encontrados</h2>
    <section class="container-fluid fundo-pegadas-h370">
      <div class="row">
        <div class="col-md-12 grid-home__container">
          <% for (pet of pets) {%>
            <div class="card grid-pets-item" style="width: 18rem;">
              <a href="/pet/<%= pet.id %>">
                <img class="card-img-top" src="/images/cachorro.jpg" alt="Pet perdido/encontrado">
                <div class="card-body">
                  <div class="container-card-info">
                      <p class="card-text">
                        <% if (pet.nome) { %>
                          <%= pet.nome %>
                        <% } else { %>
                          Sem nome
                        <% } %>
                      </p>
                    <% if(pet.status == "PERDIDO"){ %>
                      <%- include('components/badge-lost') %>
                    <% } %>
                    <% if(pet.status == "ENCONTRADO"){ %>
                      <%- include('components/badge-found') %>
                    <% } %>
                  </div>
                </div>
              </a>

            </div>
            <% } %>
          
        </div>
      </div>
    </section>

    <!-- Botao Ver todos -->
    <div class="container-botao">
      <a class="btn btn-primary botao-medio-amarelo" href="/pet/">VER TODOS</a>
    </div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <!-- Grid Pets para Adoção -->
    <h2 class="display-4 text-center my-4">Últimos Pets para Adoção</h2>
    <section class="container-fluid fundo-pegadas-h370">
      <div class="row">
        <div class="col-md-12 grid-home__container">

          <% for (petAdocao of petsAdocao) {%>
            <div class="card grid-pets-item" style="width: 18rem;">
              <a href="/pet/<%= pet.id %>">
                <img class="card-img-top" src="/images/gato.jpg" alt="Pet perdido/encontrado">
      
                <div class="card-body">
                  <div class="container-card-info">
                      <p class="card-text">
                        <% if (pet.nome) { %>
                          <%= pet.nome %>
                        <% } else { %>
                          Sem nome
                        <% } %>
                      </p>
                    <%- include('components/badge-adoption') %>
                  </div>
                </div>
              </a>
            </div>
            <% } %>
        </div>
      </div>
    </section>

    <!-- Botao Ver todos -->
    <div class="container-botao">
      <a class="btn btn-primary botao-medio-amarelo" href="/pet/adocao">VER TODOS</a>
    </div>

    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>
    <!-- Espaçamento em branco -->
    <div class="espaco-branco"></div>

    <div class="jumbotron jumbotron-fluid fundo-pegadas-h370">
      <div class="lateral-cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-sm-12 col-12 area-texto-cta">
              <h1 class="display-4">Como posso ajudar?</h1>
              <p class="">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Ex et id incidunt voluptatum earum. Accusantium praesentium,
                voluptatem commodi consectetur minus adipisci porro eos placeat
                est ullam dolorum accusamus corporis iste. </p>
              <a class="btn btn-primary botao-medio-verde" href="/sobre">CONHECER MAIS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Espaço em branco -->
    <div class="espaco-branco"></div>
    <%- include('partials/footer') %>
  </section>
</section>